<!-- ko with: home -->
<div class="jumbotron">
    <h1>Nazwa twojej firmy</h1>
    <p class="lead">Proszę wypełnić formularz zgłoszeniowy.</p>
    <p><a href="https://glider3.herokuapp.com" class="btn btn-primary btn-lg">formularz &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Informacje</h2>
        <p>informacje dotyczące wypełnienia formularza</p>
        <p data-bind="text:myhometown"></p>
       
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Więcej &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Wprowadzenie</h2>
        <p>
            Opisy i linki prowadzące do wybranych stron
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Więcej &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Kontakt:</h2>
        <p>Informacje kontaktowe firmy tj. telefon, adres email itd.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Więcej &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
